<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <!--navbar-fixed-top-->
        <div class="container">
            @Html.Action("NavPartial", "SachOnline")
            
        </div>
    </nav>
    <div class="container">
        @Html.Action("SliderPartial", "SachOnline")
    </div>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <!--CHỦ ĐỀ và NHÀ XUẤT BẢN-->
                    <ul class="list-group">
                        @Html.Action("ChuDePartial", "SachOnline")
                        @Html.Action("NhaXuatBanPartial", "SachOnline")
                    </ul>
                    <br>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    @RenderBody()
                </div>
                <hr>
            </div>
            @RenderSection("SachBanNhieu", required: false)
        </div>
        </div>
        <!-- /.container-->
        <div class="container body-content">
            <hr />
            <footer class="container well">
                <center>
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                    <p>Website được phát triển để sử dụng làm bài tập thực hành môn Lập trình Web</p>
                    <p>Email: abc@gmail.com</p>
                </center>
            </footer>
        </div>
    </body>

</html>
